@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #0d1936;
  --secondary-color: #535354;
  --background-color: #efefef;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --white-color: #fff;
  --black-color: #000;
  --input-border-color: #e3e4e6;
  --transition-3s: 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
}

.wrapper {
  position: relative;
  width: 380px;
  height: 470px;
  background-color: var(--white-color);
  border-radius: 15px;
  padding: 30px 32px 64px;
  border: 1px solid var(--primary-color);
  box-shadow: 0 8px 15px var(--shadow-color);
  transition: all var(--transition-3s);
}

.titulo{
    text-align: center;

    h2{
        font-size: 30px;
        color: var(--primary-color);
    }
}

form{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    transition: var(--transition-3s);

    .input-box{
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 20px 0;
    }

    input{
        width: 100%;
        height: 50px;
        font-size: 14px;
        background: transparent;
        color: var(--black-color);
        padding: 0 20px;
        border: 1px solid var(--input-border-color);
        border-radius: 30px;
        outline: none;
        transition: all var(--transition-3s);
    }

    input:focus{
        border: 1px solid var(--primary-color);
    }

    label{
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        color: var(--secondary-color);
        transition: 0.2s;
        cursor: text;
    }

    input:focus ~ label,
    input:valid ~ label{
        top: 0;
        font-size: 14px;
        background-color: var(--white-color);
        color: var(--primary-color);
        padding: 0 10px;
    }

    input:valid ~ .label{
        color: var(--secondary-color);
    }

    .icon{
        position: absolute;
        top: 50%;
        right: 25px;
        transform: translateY(-50%);
        font-size: 20px;
        color: var(--secondary-color);
    }

    .boton-ingreso{
        display: flex;
        align-items:center;
        justify-content: center;
        gap: 10px;
        width: 100%;
        height: 50px; 
        background-color: var(--primary-color);
        color: var(--white-color);
        font-size: 17px;
        font-weight: 500;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: var(--transition-3s);
    }

    .boton-ingreso:hover{
        gap: 15px;
    }
}

@media only screen and (max-width: 564px) {
  .wrapper {
    margin: 20px;
  }
}
